@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
  padding: initial; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none; }

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

html, * {
  cursor: none; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  body #cursor {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    background: red;
    position: fixed;
    z-index: 1; }
    body #cursor .cursor_dot {
      position: absolute;
      width: 0.8vw;
      height: 0.8vw;
      display: block;
      background: #ff2828;
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-transform: scale(0.25);
      transform: scale(0.25);
      will-change: transform;
      -webkit-transition: background-color 1.5s cubic-bezier(1, 0.15, 0.25, 1) !important;
      transition: background-color 1.5s cubic-bezier(1, 0.15, 0.25, 1) !important; }
  body h1 {
    font-size: 96px; }
    body h1 .span_wrapper {
      overflow: hidden;
      display: inline-block;
      vertical-align: baseline; }
      body h1 .span_wrapper .span_inner {
        position: relative;
        display: inline-block;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: -webkit-transform 1s cubic-bezier(1, 0.15, 0.25, 1);
        transition: -webkit-transform 1s cubic-bezier(1, 0.15, 0.25, 1);
        transition: transform 1s cubic-bezier(1, 0.15, 0.25, 1);
        transition: transform 1s cubic-bezier(1, 0.15, 0.25, 1), -webkit-transform 1s cubic-bezier(1, 0.15, 0.25, 1);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        will-change: transform;
        color: #000000;
        white-space: pre-line;
        vertical-align: baseline; }
      body h1 .span_wrapper .animate {
        -webkit-animation-name: span_animation;
                animation-name: span_animation;
        -webkit-animation-duration: 2s;
                animation-duration: 2s; }
      body h1 .span_wrapper .right::before {
        content: attr(data-char);
        position: absolute;
        height: 100%;
        right: 0;
        -webkit-transform: translate(150%);
                transform: translate(150%); }

@-webkit-keyframes span_animation {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  50% {
    -webkit-transform: translate(-150%);
            transform: translate(-150%); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes span_animation {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0); }
  50% {
    -webkit-transform: translate(-150%);
            transform: translate(-150%); }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0); } }